.wrapper {
  position: relative;
  z-index: 5;

  width: 100%;

  background: linear-gradient(
    90deg,
    #08284e,
    #063866,
    #08284e
  );
}

.container {
  min-height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

.amountArea {
  display: flex;
  align-items: center;
  gap: 18px;

  text-transform: capitalize;
}

.label {
  color: #ffffff;

  font-size: 19px;
  font-weight: 800;
}

.divider {
  width: 1px;
  height: 35px;

  background: rgba(255, 255, 255, 0.5);
}

.amount {
  color: #f1c56e;

  font-size: 38px;
  line-height: 1;

  font-weight: 900;
}

.only {
  color: #ffffff;

  font-size: 22px;
  font-weight: 800;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 18px;

  padding: 11px 13px 11px 24px;

  border-radius: 8px;

  background: linear-gradient(
    135deg,
    #f8dfa4,
    #eec26c
  );

  color: #08192f;

  font-size: 14px;
  font-weight: 800;

  text-decoration: none;
}

.buttonIcon {
  width: 32px;
  height: 32px;

  display: grid;
  place-items: center;

  border-radius: 50%;

  background: #082d59;
  color: white;
}