.badge {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}

.logo {
  display: block;
  width: 135px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1399px) {
  .logo {
    width: 125px;
  }
}

@media (max-width: 1199px) {
  .logo {
    width: 115px;
  }
}

@media (max-width: 991px) {
  .logo {
    width: 105px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 95px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 85px;
  }
}